{% extends "base.html" %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-lg-3 mt-4">
            <ul class="nav flex-column">
                <h4 class="pb-3">Меню панели управления</h4>
                {% if first_salon_translit %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('admin') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('schedule', salon_translit=first_salon_translit, year=current_year, month=current_month) }}">График работы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('all_appointments', salon_translit=first_salon_translit) }}">Посещения</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('client') }}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('service') }}">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('hairdresser') }}">Мастера</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('salon') }}">Парикмахерские</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 mt-4 border-start ps-4 min-vh-100">
            {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success" role="alert"><i class="text-success far fa-check-circle pe-2"></i>{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% block right_column %}{% endblock %}
        </div>
    </div>

</main>


{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}