{% extends "admin.html" %}

{% block right_column %}

<div class="row mb-3">
    <div class="col-8">
        <h3 class="mb-3">Посещения</h3>
    </div>
    <div class="col-4">
        <select class="form-select float-end" id="selectSalon">
            {% for salon in salons %}
            <option value="{{ url_for('all_appointments', salon_translit=salon.translit) }}" {% if salon_translit == salon.translit %} selected="true" {% endif %}> {{ salon.name }} </option>
            {% endfor %}
        </select>
    </div>
</div>
<form class="mb-3 bg-light rounded p-4" novalidate>
    <h6>Найти посещения</h6>
    <div class="row align-items-center mb-2 gx-1">
        <div class="col-auto">в период с</div>
        <div class="col-3">
            {{ form.start(class="form-control form-control-sm", type="date") }}
        </div>
        <div class="col-auto">по</div>
        <div class="col-3">
            {{ form.end(class="form-control form-control-sm", type="date") }}
        </div>
        <div class="col-auto">у мастера</div>
        <div class="col-auto">
            {{ form.hairdresser(class="form-select form-select-sm") }}
        </div>
    </div>
    <div class="row align-items-center mb-2 gx-1">
        <div class="col-auto">со статусом: </div>
        <div class="col-auto">
            {% for subfield in form.status %}
            {{ subfield() }}
            {{ subfield.label }}
            {% endfor %}
        </div>
    </div>
    <div class="col-auto"><button type="submit" class="btn btn-outline-primary btn-sm"><i class="fas fa-search"></i> Поиск</button></div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Мастер</th>
            <th scope="col">Клиент</th>
            <th scope="col">Услуги</th>
            <th scope="col">Сумма</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments.items %}
        <tr>
            <td><a href="{{ url_for('appointment_detail', appointment_id=appointment[0].id) }}"><i class="text-primary far fa-eye"></i></a></td>
            <td>
                {% if appointment[0].date %}{{ appointment[0].date|ru_date }}{% else %} - {% endif %}
            </td>
            <td>
                {% if appointment[0].time %}{{ appointment[0].time|ru_time }}{% else %} - {% endif %}
            </td>
            <td>
                {% if appointment[0].hairdresser_appointment %}{{ appointment[0].hairdresser_appointment }}{% else %} - {% endif %}
            </td>
            <td>
                {% if appointment[0].client_appointment %}{{ appointment[0].client_appointment }}{% else %} - {% endif %}
            </td>
            <td>
                {% if appointment[0].services %}
                <ul class="list-unstyled">
                {% for service in appointment[0].services  %}
                <li>{{ service }}</li>
                {% endfor %}
                </ul>
                {% else %} -
                {% endif %}

            </td>
            <td>
                {% if appointment[1] %} {{ appointment[1]|float_round }} {% else %} - {% endif %}
            </td>
            <td>{% if appointment[0].accomplished %} <i class="text-success far fa-check-circle"></i> {% else %} <i class="far fa-question-circle text-warning"></i> {% endif %}</td>
            <td>
                {% if appointment[0].comment %}<a tabindex="0" class="" role="button" {% if appointment[0].comment %} data-bs-toggle="popover" data-bs-trigger="focus" title="Комментарий" data-bs-content="{{ appointment[0].comment }}"{% endif %}><i class="far fa-comment-alt"></i></a>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if appointments.pages > 1 %}
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{{ url_for('all_appointments', salon_translit=salon_translit, start=request.args.get('start'),
                     end=request.args.get('end'), hairdresser=request.args.get('hairdresser'),
                     status=request.args.get('status'), page=1) }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% if appointments.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('all_appointments', salon_translit=salon_translit, start=request.args.get('start'),
                     end=request.args.get('end'), hairdresser=request.args.get('hairdresser'),
                     status=request.args.get('status'), page=appointments.prev_num) }}">{{ appointments.prev_num }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="{{ url_for('all_appointments', salon_translit=salon_translit, start=request.args.get('start'),
                     end=request.args.get('end'), hairdresser=request.args.get('hairdresser'),
                     status=request.args.get('status'), page=appointments.page) }}">{{ appointments.page }}</a>
        </li>
        {% if appointments.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('all_appointments', salon_translit=salon_translit, start=request.args.get('start'),
                     end=request.args.get('end'), hairdresser=request.args.get('hairdresser'),
                     status=request.args.get('status'), page=appointments.next_num) }}">{{ appointments.next_num }}</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('all_appointments', salon_translit=salon_translit, start=request.args.get('start'),
                     end=request.args.get('end'), hairdresser=request.args.get('hairdresser'),
                     status=request.args.get('status'), page=appointments.pages) }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif  %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('staticfiles', filename='appointment.js') }}"></script>
{% endblock %}