{% extends "admin.html" %}

{% block right_column %}
<div>
    <a href="{{ url_for('appointment_update', appointment_id=appointment.id) }}" class="btn btn-outline-primary btn-sm float-end"><i class="fas fa-edit pe-2"></i>Изменить</a>
    <h3 class="mb-3">Посещение от <a class="link-secondary" href="{{ url_for('day_record', year=appointment.date.year, month=appointment.date.month, day=appointment.date.day, salon_translit=appointment.salon_appointment.translit) }}">{{ appointment.date.strftime("%d.%m.%Y") }}</a> {% if appointment.time %} в {{ appointment.time.strftime("%H:%M") }} {% endif %} {% if appointment.accomplished %} <i class="text-success far fa-check-circle"></i> {% else %} <i class="far fa-question-circle text-warning"></i> {% endif %}</i></h3>
</div>

<div class="p-3 bg-light">
    <table class="table table-sm table-light table-borderless ">
        <tbody class="small">
            <tr>
                <td><b>Парикмахерская:</b></td>
                <td>{{ appointment.salon_appointment }}</td>
            </tr>
            <tr>
                <td><b>Мастер:</b></td>
                <td>{% if appointment.hairdresser_appointment %}<a class="link-secondary" href="{{ url_for('hairdresser_detail', hairdresser_id=appointment.hairdresser_appointment.id) }}">{{ appointment.hairdresser_appointment }}</a>{% else %} - {% endif %}</td>
            </tr>
            <tr>
                <td><b>Клиент:</b></td>
                <td>{% if appointment.client_appointment %}<a class="link-secondary" href="{{ url_for('client_detail', client_id=appointment.client_appointment.id) }}">{{ appointment.client_appointment.name }}</a>{% else %} - {% endif %}</td>
            </tr>
            <tr>
                <td><b>Номер телефона:</b></td>
                <td>{% if appointment.client_appointment %}{{ appointment.client_appointment.phone_number }}{% else %} - {% endif %}</td>
            </tr>
            <tr>
                <td><b>Комментарий:</b></td>
                <td>{% if appointment.comment %}{{ appointment.comment }}{% else %} - {% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Название услуги</th>
            <th scope="col">Тип услуги</th>
            <th scope="col">Полная стоимость</th>
            <th scope="col">Скидка</th>
            <th scope="col">Стоимость со скидкой</th>
        </tr>
    </thead>
    <tbody>
        {% for service in appointment.services %}
        <tr>
            <td>{{ service.service.name }}</td>
            <td>{{ service.service.service_type }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.discount }}%</td>
            <td>{{ service.final_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><b>Итого:</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{ total }}</b></td>
        </tr>
    </tfoot>
</table>

{% endblock %}

{% block script %}
{% endblock %}