{% extends "admin.html" %}

{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet"/>
{% endblock %}

{% block right_column %}
<h3 class="mb-3">Новое посещение</h3>
<form action="" method="post" class="needs-validation" novalidate>
    <div>{{ form.hidden_tag() }}</div>
    <div class="form-floating mb-3" data-url="{{ url_for('add_get_data') }}">
        {{ form.date(class='form-control' + (" is-invalid" if form.date.errors else ""), placeholder='Дата', id='id_date', type='date') }}
        <label for="id_date">Дата</label>
        {% if form.date.errors %}
        <div id="id_date" class="invalid-feedback">
            {% for error in form.date.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
        <div class="form-floating mb-3">
        {{ form.time(class='form-control' + (" is-invalid" if form.time.errors else ""), placeholder='Время', id='id_time', type='time', step='600') }}
        <label for="id_time">Время</label>
        {% if form.time.errors %}
        <div id="id_time" class="invalid-feedback">
            {% for error in form.time.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-floating mb-3">
        {{ form.salon(class="form-select", placeholder='Парикмахерская', id='id_salon') }}
        <label for="id_salon">Парикмахерская</label>
    </div>
    <div class="form-floating mb-3"  data-url="{{ url_for('get_client_data') }}">
        {{ form.client(class='form-control' + (" is-invalid" if form.client.errors else ""), placeholder='Клиент', id='id_client', list='clients_list') }}
        <label for="id_client">Клиент</label>
        <datalist id="clients_list" data-url="{{ url_for('get_clients') }}"></datalist>
        {% if form.client.errors %}
        <div id="id_client" class="invalid-feedback">
            {% for error in form.client.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <a href="" target="_blank" id="client_data" class="btn btn-outline-primary btn-sm me-2 disabled"><i class="fas fa-info-circle pe-2"></i></i>Информация о клиенте</a>
        <a href="{{ url_for('add_client') }}" target="_blank" id="add_client" class="btn btn-outline-primary btn-sm"><i class="fas fa-user-plus pe-2"></i></i>Добавить нового клиента</a>
    </div>

    <div class="form-floating mb-3">
        {{ form.hairdresser(class="form-select", placeholder='Мастер', id='id_hairdresser') }}
        <label for="id_hairdresser">Мастер</label>
    </div>
    <div class="mb-3">
<!--        <label for="services">Перечень услуг</label>-->
        {{ form.services(class="form-control", multiple="multiple") }}
    </div>
    <div class="form-floating mb-3">
        {{ form.comment(class='form-control' + (" is-invalid" if form.comment.errors else ""), placeholder='Комментарий', style='height: 100px;', id='id_comment') }}
        <label for="id_comment">Комментарий</label>
        {% if form.comment.errors %}
        <div id="id_comment" class="invalid-feedback">
            {% for error in form.comment.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-check form-switch mb-3">
        {{ form.accomplished(class="form-check-input", type="checkbox", id="id_accomplished") }}
        <label class="form-check-label" for="id_accomplished">Посещение состоялось</label>
    </div>

    <div class="d-grid gap-2 mb-3">
        <button class="btn btn-lg btn-primary" type="submit">Добавить</button>
    </div>
</form>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="{{ url_for('staticfiles', filename='myselect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('staticfiles', filename='appointment_add.js') }}"></script>

{% endblock %}