{% extends "admin.html" %}

{% block right_column %}
<div>
    <a href="{{ url_for('add_client') }}" class="btn btn-outline-primary btn-sm float-end"><i class="fas fa-plus-circle pe-2"></i>Добавить клиента</a>
    <h3 class="mb-3">Клиенты</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Скидка</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients.items %}
        <tr>
            <td><a href="{{ url_for('client_detail', client_id=client.id) }}">{{ client.name }}</a></td>
            <td>{{ client.phone_number }}</td>

            <td>{% if client.discount %}{{ client.discount }}{% else %} - {% endif %}</td>
            <td><a href="{{ url_for('client_update', client_id=client.id) }}"><i class="far fa-edit"></i></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if clients.pages > 1 %}
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{{ url_for('client', page=1) }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% if clients.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('client', page=clients.prev_num) }}">{{ clients.prev_num }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="{{ url_for('client', page=clients.page) }}">{{ clients.page }}</a>
        </li>
        {% if clients.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('client', page=clients.next_num) }}">{{ clients.next_num }}</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('client', page=clients.pages) }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif  %}
{% endblock %}