{% extends "admin.html" %}

{% block right_column %}
<h3 class="mb-3">Клиент {{ client.name }}</h3>
<form action="" method="post" class="needs-validation" novalidate>
    <div>{{ form.hidden_tag() }}</div>
    <div class="form-floating mb-3">
        {{ form.name(class='form-control' + (" is-invalid" if form.name.errors else ""), placeholder='Имя', id='id_name') }}
        <label for="id_name">Имя</label>
        {% if form.name.errors %}
        <div id="id_name" class="invalid-feedback">
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-floating mb-3">
        {{ form.phone_number(class='form-control' + (" is-invalid" if form.phone_number.errors else ""), placeholder='Номер телефона', id='id_phone_number') }}
        <label for="id_phone_number">Номер телефона</label>
        {% if form.phone_number.errors %}
        <div id="id_phone_number" class="invalid-feedback">
            {% for error in form.phone_number.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-floating mb-3">
        {{ form.discount(class='form-control' + (" is-invalid" if form.discount.errors else ""), placeholder='Скидка', id='id_discount') }}
        <label for="id_discount">Скидка</label>
        {% if form.discount.errors %}
        <div id="id_discount" class="invalid-feedback">
            {% for error in form.discount.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="d-grid gap-2 mb-3">
        <button class="btn btn-lg btn-primary" type="submit">Внести изменения</button>
    </div>
</form>
<div class="d-grid gap-2 mb-3">
    <a href="{{ url_for('delete_client', client_id=client.id) }}" class="btn btn-lg btn-danger" onclick="return confirm('Вы уверены?');">Удалить запись</a>
</div>
{% endblock %}