{% extends "admin.html" %}

{% block right_column %}
<div>
    <a href="{{ url_for('add_hairdresser') }}" class="btn btn-outline-primary btn-sm float-end"><i class="fas fa-plus-circle pe-2"></i>Добавить мастера</a>
    <h3 class="mb-3">Мастера</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">День рождения</th>
            <th scope="col">Статус</th>
            <th scope="col">Комментарий</th>
        </tr>
    </thead>
    <tbody>
        {% for hairdresser in hairdressers %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><a href="{{ url_for('hairdresser_detail', hairdresser_id=hairdresser.id) }}">{{ hairdresser }}</a></td>
            <td>{% if hairdresser.dob %}{{ hairdresser.dob|ru_date }}{% else %} - {% endif %}</td>
            <td>{% if hairdresser.is_available %} <i class="text-success far fa-check-circle"></i> {% else %} <i class="text-danger far fa-times-circle"></i> {% endif %}</td>
            <td>{% if hairdresser.comment %}{{ hairdresser.comment }}{% else %} - {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}