{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="mb-3 mt-5 text-center">
                <h2>Вход</h2>
            </div>
            {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success" role="alert"><i class="text-success far fa-check-circle pe-2"></i>{{ message }}</div>
            {% endfor %}
            {% endif %}
            <form action="" method="post" class="needs-validation" novalidate>
                <div>{{ form.hidden_tag() }}</div>

                <div class="form-floating mb-3">
                    {{ form.username(class='form-control' + (" is-invalid" if form.username.errors else ""), placeholder='Имя', id='id_username') }}
                    <label for="id_username">Имя</label>
                    {% if form.username.errors %}
                    <div id="id_username" class="invalid-feedback">
                        {% for error in form.username.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class='form-control' + (" is-invalid" if form.password.errors else ""), placeholder='Пароль', id='id_password') }}
                    <label for="id_password">Пароль</label>
                    {% if form.password.errors %}
                    <div id="id_password" class="invalid-feedback">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="d-grid gap-2 mb-3">{{ form.submit(class="btn btn-outline-primary btn-lg") }}</div>
            </form>
            <div class="text-center">
                <small class="text-muted">* Данное веб-приложение является проектом для партфолио Рамана Шелемеха. Все тестовые данные - вымышленные.</small>
            </div>

        </div>
    </div>
</main>
{% endblock %}